html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background: #141414;
    min-width: 320px;
}

h1,
h2,
h3,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-title {
      font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: var(--absolute-white);
    margin-bottom: 14px;
}

.site-second-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--absolute-white);
}

.site-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-60);
}

.site-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--absolute-white);
    border: 1px solid var(--grey-15);
    border-radius: 10px;
    padding: 18px 24px;
    background: var(--grey-10);
    position: absolute;
    bottom: 0;
    right: 0;
}

.site-link {
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    padding: 18px 24px;
    background: var(--purple-60);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--absolute-white);
}

button {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1920px;
    padding: 0 clamp(5rem, -20.62rem + 25.62vw, 10.125rem);
    margin: 0 auto;
}

.slider-pagination {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--absolute-white);
    color: var(--grey-60);
}

.slider-control {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid var(--grey-15);
}

.slider__button {
    border: 1px solid var(--grey-15);
    border-radius: 69px;
    padding: 14px;
    width: 58px;
    height: 58px;
}

.slider__buttons {
    display: flex;
    gap: 10px;
}

.stars-section {
    position: relative;
}

.stars-section::before {
    content: '';
    position: absolute;
    width: 68px;
    height: 30px;
    background-image: url(../img/stars-section.svg);
    background-repeat: no-repeat;
    top: -40px;
    left: -20px;
}

@media(max-width: 1440px) {
    /*.container {
        padding: 0 80px;
    }*/
    .site-link {
        padding: 14px 20px;
        font-size: 14px;
    }
    .site-title {
        margin-bottom: 10px;
        font-size: 38px;
    }
    .site-text {
        font-size: 16px;
    }
    .site-second-title {
        font-size: 20px;
    }
    .slider-pagination {
        font-size: 16px;
    }
    .slider__button {
        padding: 10px;
        width: 44px;
        height: 44px;

    }
    .stars-section::before {
        width: 54px;
        height: 24px;
    }
    .site-btn {
        padding: 14px 20px;
        border-radius: 8px;
        font-size: 14px;
    }
    .slider__button svg {
        width: 24px;
        height: 24px;
    }
    .container {
        padding: 0 clamp(1rem, -8.85rem + 15.38vw, 5rem);
    }
} 