.featured {
    padding: 150px 0 75px;
    
}

.featured__top {
    position: relative;
    margin-bottom: 80px;
}


.featured__text {
    max-width: clamp(46.875rem, -23.44rem + 93.75vw, 60.9375rem);
}



.featured__list {
    display: flex;
    gap: 30px;
}

.featured__item {
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    padding: clamp(1.875rem, -1.25rem + 3.13vw, 2.5rem);
    background: var(--grey-08);
    flex: 1;
}

.featured__img {
    border-radius: 10px;
    margin-bottom: 30px;
}

.featured__item-title {
    margin-bottom: 6px;
}

.featured__item-text {
    margin-bottom: 30px;
}

.featured__link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--absolute-white);
}

.featured__inner-list {
    display: flex;
    margin-bottom: 30px;
    gap: clamp(0.375rem, -0.88rem + 1.25vw, 0.625rem);
}

.featured__inner-item {
    display: flex;
    gap: 4px;
    border: 1px solid var(--grey-15);
    border-radius: 28px;
    padding: 8px 14px;
    background: var(--grey-10);
}

.featured__inner-title {
    font-weight: 500;
    font-size: clamp(0.875rem, -0.38rem + 1.25vw, 1.125rem);
    line-height: 150%;
    color: var(--absolute-white);

}

.featured__inner-icon {
    width: clamp(1.25rem, 0.00rem + 1.25vw, 1.5rem);
}

.featured__item-wrapper {
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.featured__price {
    display: flex;
    flex-direction: column;
}

.featured__price-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-60);
}

.featured__price-count {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: var(--absolute-white);
}


@media(max-width: 1440px) {
    .featured {
        padding-bottom: 46.5px;
    }
    .featured__top {
        margin-bottom: 60px;
    }
    .featured__item {
        padding: 30px;
    }
    .featured__item-title {
        margin-bottom: 4px;
    }
    .featured__inner-list {
        margin-bottom: 24px;
        gap: 6px;
        flex-wrap: wrap;
    }
    .featured__inner-item {
        padding: 6px 14px;
    }
    .featured__price-text {
        font-size: 14px;
    }
    .featured__price-count {
        font-size: 20px;
    }
    .featured__inner-title {
        font-size: 14px;
    }
    .featured__inner-item img {
        width: 20px;
        height: 20px;
    }
    .featured__img {
        margin-bottom: 20px;
    }
    .featured__item-text {
        margin-bottom: 24px;
    }

}