.reviews {
    padding: 75px 0;
}

.reviews__top {
    position: relative;
}



.reviews__text {
    margin-bottom: 80px;
}

.reviews__btn {}

.site-btn {}

.reviews__list {
    display: flex;
    gap: 30px;
    align-items: stretch;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    background: var(--grey-08);
    padding: 50px;
    flex: 1;
}

.reviews__stars {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}
.reviews__stars-item {
border: 1px solid var(--grey-15);
border-radius: 100px;
padding: 10px;
background: var(--grey-10);
}
.review__star {
}

.reviews__item-title {
    margin-bottom: 14px;
}

.reviews__item-text {
    color: var(--absolute-white);
    margin-bottom: 40px;

}

.reviews__author {
    align-items: center;
    margin-top: auto;
    display: flex;
    gap: 12px;
}

.reviews__author-img {
border-radius: 100%;
}

.reviews__author-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}

.author-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--absolute-white);
}


@media(max-width: 1440px) {
    .reviews {
        padding-top: 46.5px;
        padding-bottom: 60px;
    }
    .reviews__item {
        padding: 40px;
        border-radius: 5px;
    }
    .reviews__text {
        margin-bottom: 60px;
        max-width: 750px;
    }
    .reviews__stars {
        gap: 8px;
        margin-bottom: 30px;
    }
    .author-name {
        font-size: 16px;
    }
    .reviews__item-title {
        margin-bottom: 10px;
    }
    .reviews__item-text {
        margin-bottom: 30px;
    }
    .reviews__author {
        gap: 10px;
        
    }
    .reviews__stars-item {
        padding: 8px;
    }
    .review__star {
        width: 20px;
        height: 20px;
    }
}