.start {
background-image: url('../../img/bg-left.png'), url(../../img/bg-right.png);
    border-bottom: 1px solid var(--grey-15);
    border-top: 1px solid var(--grey-15);
    padding: 100px 0;
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
   

}

.start__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.start__text {
    max-width: clamp(40.25rem, -64.44rem + 139.58vw, 61.1875rem);
}

@media(max-width: 1440px) {
    .start {
        padding: 60px 0;
    }
}