.start {
background-image: url('../../img/bg-left.png'), url(../../img/bg-right.png);
    border-bottom: 1px solid var(--grey-15);
    border-top: 1px solid var(--grey-15);
    padding: 100px 0;
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
   

}

.start__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.start__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
    color: var(--absolute-white);
    margin-bottom: 14px;
}

.start__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-60);
    max-width: 1154px;
}

.start__link {}

.site-link {}